{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "esmodules": true
          }
        } 
      ],
        //"@babel/preset-env",
        "@babel/preset-react"
      ]
}